html, body {
  height: 100%;
  width: 100%;
}
@import url('https://fonts.googleapis.com/css?family=Francois+One');

body {
  background:#2c3e50;
  color: #fff;
  text-align: center;
  margin-top: 2em;
}

h1, button {
  color:#fff;
  font-family: 'Francois One', sans-serif;
}
.button-two {

  padding: 20px;
  cursor: pointer;
  font-size:30px;
  text-align: center;
  border-radius: 4px;
  background-color:#d35400;
  border: none;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
}


.button-two span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-two span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-two:hover span {
  padding-right: 25px;
}

.button-two:hover span:after {
  opacity: 1;
  right: 0;
}

